<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Review Page</title>

    <!--Jquery CDN google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>Customer Review Portal</h1>
        <p id="date"></p>
    </div>

    <div>
        <img src="static\assets\product\mobile.png" width="200">
    </div>

    <div>
        <textarea id="text" rows="4" maxlength="300" placeholder="Enter Customer Review"></textarea>
        <br>
        <button id="button">Submit</button>
    </div>

    <div>
        <p id="sentiment" style="display: none;">Sentiment</p>
        <img src="" id="emoji" style="display: none;" width="80"/>
    </div>
    


    <!--JS file-->
    <script src="static\script.js"></script>
</body>
</html>